@import url(http://allfont.ru/allfont.css?fonts=futurademictt-normal);
@import url('https://fonts.googleapis.com/css?family=Yeseva+One&display=swap');

$color-bg-dark: #131313;
$color-bg-light: #fefefe;
$color-bg-white: #fff;
$color-main: #E3B873;
$color-text: #ffffff;
$color-text-dark: #363636;
$color-grey: rgba(54, 54, 54, 0.5);
$color-light-grey: rgba(255, 255, 255, 0.5);

$font-base-size: 14px;
$font-base-family: 'FuturaDemiCTT Normal', arial;

$padding-base: 10px;
$margin-base: 10px;

@mixin d-flex($justify-content: normal, $align-items: normal){
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin heading-text($font-size,  $text-color, $text-padding) {
  font-size: $font-size;
  text-transform: uppercase;
  color: $text-color;
  padding: $text-padding;
}

@mixin normal-text($font-size,  $text-color, $text-padding) {
  font-size: $font-size;
  font-weight: normal;
  color: $text-color;
  padding: $text-padding 0;
}

* {
  margin: 0;
  padding: 0;
  font-family: $font-base-family;
}

a {
  cursor: pointer;
}

.btn {
  border: 1px solid $color-text;
  border-radius: 3px;
  @include heading-text(0.9*$font-base-size, $color-text, 1.3*$padding-base 3*$padding-base);
  background-color: transparent;
  cursor: pointer;
  &:hover{
    box-shadow:
    1px 1px $color-main,
    2px 2px $color-main,
    3px 3px $color-main;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  &--fill {
    background-color: $color-main;
    border: 1px solid $color-main;
    &:hover {
      box-shadow:
      1px 1px $color-text,
      2px 2px $color-text,
      3px 3px $color-text;
      -webkit-transform: translateX(-3px);
      transform: translateX(-3px);
    }
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  .header & {
    max-width: 1440px;
    @include d-flex(space-between);
    padding: 2.5*$padding-base 10*$padding-base 2.5*$padding-base 8*$padding-base;
  }
  .completedProject & {
    @include d-flex();
  }
  .videoControl & {
    @include d-flex(center, center);
    flex-direction: column;
  }
  .repair & {
    @include d-flex(center, center);
    flex-direction: column;
  }
  .measure & {
    @include  d-flex(space-between, center);
  }
  .architecture & {
    @include d-flex(space-between, center);
    background: red;
    max-height: 885px;
  }
  .goal & {
    @include d-flex(space-around, flex-start);
  }
}

.header {
  background: $color-bg-dark;
}

.logo {
  @include d-flex(center, center);
  &__title {
    @include heading-text($font-base-size, $color-main, 0);
    white-space: nowrap;
  }
}

.menu{
  @include d-flex(center, center);
  &__list {
    @include d-flex(space-around, center);
  }
  &__item {
    list-style-type: none;
  }
  &__link {
    @include heading-text($font-base-size, $color-text, 1.5*$padding-base 2*$padding-base);
    text-decoration: none;
    &--active,
    &:hover{
      color: $color-main;
    }
  }
}

.phone {
  &__number {
    @include heading-text($font-base-size, $color-main, 1.5*$padding-base);
  }
}

.pasteboard{
  height: 100vh;
  background-color: $color-bg-dark;
  .container {
    height: 100%;
    @include d-flex();
  }
  &__share {
    width: 5%;
    @include d-flex(center, center);
    & .share__title {
      position: relative;
      text-decoration: none;
      @include heading-text($font-base-size, $color-main, $padding-base);
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      &::after {
        content: " ";
        position: absolute;
        top: 50%;
        right: -50px;
        display: block;
        min-width: 50px;
        height: 2px;
        background: $color-main;
      }
    }
  }
  &__desc {
    width: 95%;
    padding: 20*$padding-base 0 0 6*$padding-base;

  }
  &__title {
    font-family: "Yeseva One";
    @include heading-text(2.875*$font-base-size, $color-text, 0);
    font-weight: lighter;
    &--city {
      font-family: inherit;
      color: $color-main;
    }
  }
  &__subtitle {
    @include normal-text(1.5*$font-base-size, $color-text, 2*$padding-base 0 4.5*$padding-base);
    max-width: 500px;
  }
  &__btn {
    width: 207px;
    padding: 2*$padding-base 0;
    &:first-child {
      margin-right: $margin-base;
    }
  }
}

.completedProject {
  background: $color-bg-dark;
  padding-top: 10*$padding-base;
  &__desc {
    flex: 3;
    padding: 0 5*$padding-base 10*$padding-base 10*$padding-base;
  }
  &__photo {
    flex: 5;
  }
}

.projectInfo {
  @include d-flex();
  flex-direction: column;
  &__suptitle {
    @include normal-text($font-base-size, $color-text, 0);
    text-transform: uppercase;
  }
  &__title {
    position: relative;
    max-width: 250px;
    @include heading-text($font-base-size*2, $color-main, 0);
    font-weight: normal;
    font-family: Yeseva One;
    padding-top: 6*$padding-base;
    &::after {
      content: " ";
      position: absolute;
      bottom: 15px;
      right: -15px;
      display: block;
      height: 2px;
      width: 90px;
      background-color: $color-main;
    }
  }
  &__desc {
    @include normal-text(1.25*$font-base-size, $color-text, 3*$padding-base 0 4*$padding-base);
    line-height: 1.75;
    font-family: FuturaBookC, sans-serif;
  }
  &__general {
    width: 80%;
  }
}

.houseDetails {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20% 10%;
  padding-bottom: 4*$padding-base;
  &__item {
    @include d-flex();
    flex-direction: column;
  }
  &__title {
    @include heading-text(1.3*$font-base-size, $color-main, $padding-base 0);
    font-family: Yeseva One;
    font-weight: normal;
  }
  &__info {
    @include normal-text($font-base-size, $color-text, 0);
    line-height: 1.3;
    padding-right: 3*$padding-base;
    font-family: FuturaBookC, sans-serif;
  }
}

.projectCarousel {
  @include d-flex();
  flex-direction: column;
  width: 100%;
  height: 100%;
  &__titles {
    @include d-flex();
  }
  &__title {
    @include heading-text($font-base-size, $color-main, $padding-base 2*$padding-base);
    font-family: Yeseva One;
    font-weight: normal;
    &--active,
    &:hover {
      text-decoration: underline;
    }
  }
  &__gallery {

  }
}

.gallery {
  @include d-flex();
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;

  &__item {
    width: 300px;
    height: 450px;
  }
  &__btn {
    position: absolute;
    @include d-flex(center, center);
    width: 55px;
    height: 55px;
    border: 0;
    border-radius: 50%;
    background: $color-main;
    & .fa {
      color: $color-text;
      font-size: 1.5*$font-base-size;
    }
    &--right {
      top: 45%;
      right: 10px;
    }
    &--left {
      display: none;
    }
    &:hover {
      -webkit-box-shadow: 0px 0px 5px 0px rgba(231,166,26,1);
      -moz-box-shadow: 0px 0px 5px 0px rgba(231,166,26,1);
      box-shadow: 0px 0px 5px 0px rgba(231,166,26,1);
      cursor: pointer;
    }
  }
}

.controls {
  @include d-flex();
  &__arrow {
    font-size: 1.8*$font-base-size;
    border: 0;
    color: $color-text;
    background: transparent;
    &:hover {
      color: $color-main;
      cursor: pointer;
    }
  }
  &__dots {
    @include d-flex(center, center);
  }
  &__dot {
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $color-text;
    margin: $padding-base;
    &:hover {
      background-color: $color-main;
      cursor: pointer;
    }
  }
}

.heading {
  @include d-flex(center, center);
  flex-direction: column;
  padding-bottom: 3*$padding-base;
  &__title {
    @include heading-text(1.5*$font-base-size, $color-text, $padding-base);
    font-family: Yeseva One;
    font-weight: normal;
  }
  &__icon {
    @include normal-text(1.5*$font-base-size, $color-main, 0);
  }
  &__wrapper {
    position: relative;
    &::before,
    &::after {
      content: " ";
      position: absolute;
      top: 40%;
      right: 30px;
      display: block;
      width: 20px;
      height: 2px;
      background-color: $color-main;
    }
    &::after {
      left: 30px;
    }
  }
  &__subtitle {
    @include normal-text(1.25*$font-base-size, $color-text-dark, 2*$padding-base 0 3*$padding-base);
    font-family: "FuturaBookC", sans-serif;
    text-align: center;
  }
}

.main-divider {
  width: 55px;
  height: 2px;
  border: 0;
  background-color: $color-main;
}

.videoControl {
  background: -webkit-linear-gradient($color-bg-dark 40%, $color-bg-light 40%, $color-bg-light 100%);
  background:    -moz-linear-gradient($color-bg-dark 40%, $color-bg-light 40%, $color-bg-light 100%);
  background: linear-gradient($color-bg-dark 40%, $color-bg-light 40%, $color-bg-light 100%);
  &__header {

  }
  &__video {
    padding-bottom: 6*$padding-base;
  }
  &__form {
    padding-bottom: 13*$padding-base;
  }
}

.form {
  @include d-flex(center, center);
  flex-direction: column;
  font-family: FuturaBookC;
  &__wrapper {
    @include d-flex(center, center);
  }
  &__legend {
    @include normal-text(1.5*$font-base-size, $color-text, 2*$padding-base);
    max-width: 280px;
    margin: 0 auto;
  }
  &__fieldset {
    border: 0;
  }
  &__item {
    @include d-flex(center, normal);
    flex-direction: column;
    margin: 20px;
    &--check {
      flex-direction: row;
      position: relative;
    }
  }
  &__input {
    @include normal-text(1.25*$font-base-size, $color-text-dark, 0.8*$padding-base 0 0.8*$padding-base);
    border: 0;
    border-bottom: 1px solid $color-grey;
    outline: none;
    background: transparent;
    &:focus {
      border-bottom: 1px solid $color-main;
    }
    &::placeholder {
      color: $color-text-dark;
    }
    &::-moz-placeholder {
      color: $color-text-dark;
    }
    &::-webkit-input-placeholder {
      color: $color-text-dark;
    }
  }
  &__label {
    @include normal-text($font-base-size, $color-grey, 0);
    font-family: FuturaBookC,sans-serif;
    &--check {
      @include normal-text(1.125*$font-base-size, $color-text-dark, 0);
      position: relative;
      padding-left: 30px;
      z-index: 2;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__check{
    width: 20px;
    height: 20px;
    position: absolute;
    top: -3px;
    left: -10px;
    background-color: transparent;
    border-radius: 3px;
    border: 2px solid $color-main;
    &::after {
      position: absolute;
      content: " ";
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      left: 5px;
      top: 0;
      width: 6px;
      height: 12px;
      border: solid $color-text;
      border-width: 0 2px 2px 0;
      background-color: transparent;
      border-radius: 0;
      opacity: 0;
    }
  }
  input[type="checkbox"]{
    display: none;
    &:checked ~ .form__check{
      background-color: $color-main;
    }
    &:checked ~ .form__check::after{
      opacity: 1;
    }
  }
  &__submit {
    padding: 2*$padding-base 7.5*$padding-base;
  }
}

.repair {
  background-color: $color-bg-light;
  &__header {
    & .heading__title {
      color: $color-text-dark
    }
  }
}

.project {
  width: 90%;
  margin: 0 auto;
  @include d-flex(space-around, normal);
  padding-bottom: 30*$padding-base;
}

.projectCard {
  @include d-flex();
  flex-direction: column;
  position: relative;
  flex: 1;
  margin: 0 2*$padding-base;
  &__skill {
    position: absolute;
    top: -35px;
    left: -35px;
    width: 70px;
    height: 70px;
    background-color: $color-main;
    @include d-flex(center, center);
  }
  &__icon {
    @include normal-text(2*$font-base-size, $color-text, 0);
  }
  &__subtitle {
    @include normal-text(1.25*$font-base-size, $color-grey, 0);
    font-family: "FuturaBookC";
  }
  &__img {
    width: 100%;
    height: 420px;
    background: $color-text-dark;
  }
  &__desc {
    position: absolute;
    left: 0;
    right: 0;
    top: 300px;
    margin: auto;
    max-width: 60%;
    background-color: $color-bg-white;
    padding: 2.5*$padding-base 3.5*$padding-base 5*$padding-base;
    -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  }
  &__title {
    @include heading-text(1.25*$font-base-size, $color-text-dark, $padding-base 0);
    font-family: "Yeseva One";
    text-transform: capitalize;
    font-weight: normal;
  }
  &__list {
    @include normal-text($font-base-size, $color-grey, 0);
    font-family: "FuturaBookC";
    line-height: 1.75;
    margin-left: 1.5*$padding-base;
  }
  &__btn {
    position: absolute;
    bottom: -25px;
    left: 0;
    @include heading-text(1.25*$font-base-size, $color-text, 1.5*$padding-base 2*$padding-base);
    border-radius: 0;
    font-family: "Yeseva One";
    font-weight: normal;
  }
}

.measure {
  position: relative;
  &__figure {
    position: relative;
    @include d-flex(normal, center);
    width: 60%;
    height: 800px;
  }
  &__border {
    width: 70%;
    height: 75%;
    position: relative;
    //border: 3px solid $color-main;
    border-radius: 50%;
    background-clip: padding-box;
    border: solid 3px transparent;
    background: $color-bg-light;
    &::before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -7px;
      border-radius: inherit;
      background: linear-gradient(to right, transparent, orange);
    }
  }
  &__stages {
    height: 75%;
    position: absolute;
    left: 65%;
    top: 20%;
  }
  &__stage {
    height: 25%;
    position: relative;
    @include normal-text(1.125*$font-base-size, $color-text-dark, 0);
    font-family: "FuturaMediumC", sans-serif;
    list-style-type: none;
    &:nth-child(2),
    &:nth-child(3){
      left: 30%;
    }
    &::before {
      content: " ";
      position: absolute;
      left: -80px;
      top: -20px;
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 10px solid $color-text;
      background-color: $color-main;
    }
  }
  &__number {
    position: absolute;
    top: 0;
    left: -60px;
    @include normal-text(1.25*$font-base-size,$color-text, 0);
    font-family: "Yeseva One";
  }
  &__form {
    background: $color-bg-dark;
    padding: 3*$padding-base 5*$padding-base;
    margin: 0 auto;
    .form__label {
      color: $color-light-grey;
    }
    .form__input::-moz-placeholder {
      color: $color-text;
    }
    .form__input::-webkit-input-placeholder {
      color: $color-text;
    }
    .form__input::placeholder,
    .form__label--check {
      color: $color-text;
    }
    .form__item--btn {
      @include d-flex(flex-end, flex-end);
      padding-top: $padding-base;
      .btn {
        padding: 2*$padding-base 3*$padding-base;
      }
    }
  }
  &__bonus {
    position: absolute;
    bottom: 5%;
    right: 10%;
  }
}

.bonus {
  @include d-flex(center, center);
  &__icon {
    @include d-flex(center, center);
    width: 72px;
    height: 72px;
    background: $color-main;
    border-radius: 50%;
    .fa {
      @include normal-text(3*$font-base-size, $color-text, 0);
    }
  }
  &__text {
    @include normal-text(1.25*$font-base-size, $color-main, 0 2*$padding-base);
    font-family: "FuturaDemiC", sans-serif;
    line-height: 1.25;
  }
}

.architecture {
  background: $color-bg-dark;
  margin: 100px 0;
  &__type {
    flex: 1;
    padding: 14*$padding-base 19*$padding-base 10*$padding-base 10*$padding-base;
  }
  &__gallery {
    flex: 1;
    background: transparent;
  }
}

.type {
  @include d-flex();
  flex-direction: column;
  &__title {
    @include heading-text(2*$font-base-size, $color-main, 0 0 4*$padding-base);
    font-family: "Yeseva One";
    font-weight: normal;
  }
  &__list {

  }
  &__item {
    padding-bottom: 2.5*$padding-base;
    list-style-type: none;
  }
  &__link {
    @include normal-text(1.5*$font-base-size, $color-text, 0 0 0.2*$padding-base);
    text-decoration: none;
    opacity: 0.9;
    &--active {
      color: $color-main;
      border-bottom: 1px solid $color-main;
    }
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}

.archGallery {
  position: relative;
  top: -40px;
  right: 0;
  display: grid;
  grid-gap: 40px;
  grid-template-rows: 40px 255px 255px 255px 40px;
  grid-template-columns: repeat(2, 350px);
  &__img:nth-child(1) {
    grid-column: 1/2;
    grid-row: 2/4;
    background: #131313;
  }
  &__img:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/3;
    background: #131313;
  }
  &__img:nth-child(3) {
    grid-column: 1/2;
    grid-row: 4/6;
    background: #131313;
  }
  &__img:nth-child(4) {
    grid-column: 2/3;
    grid-row: 3/5;
    background: #131313;
  }
}

.design {
  background: -webkit-linear-gradient($color-bg-light 50%, $color-bg-dark 50%, $color-bg-dark 100%);
  background:    -moz-linear-gradient($color-bg-light 50%, $color-bg-dark 50%, $color-bg-dark 100%);
  background: linear-gradient($color-bg-light 50%, $color-bg-dark 50%, $color-bg-dark 100%);
  &__header .heading__title {
    color: $color-text-dark;
  }
}

.goal {
  background: $color-bg-dark;
  &__carousel {
    flex: 1;
    padding: 0 5*$padding-base 10*$padding-base 10*$padding-base;
    .projectInfo__title {
      padding-top: 2*$padding-base;
    }
  }
  &__stages {
    flex: 3;
  }
}

.step {
  @include d-flex();
  flex-direction: column;
  &__number {
    @include heading-text(1.25*$font-base-size, $color-text, 0 0 2*$padding-base);
    font-family: "Yeseva One";
  }
  &__title {
    @include heading-text($font-base-size, $color-main, 0 0 1.5*$padding-base);
    font-family: "Yeseva One";
    max-width: 230px;
  }
  &__desc {
    @include normal-text($font-base-size, $color-text, 0);
    font-family: "FuturaBookC";
  }
}

.stage {
  @include d-flex();
  flex-direction: column;
  padding: 6*$padding-base 2*$padding-base;
  &__wrapper {
    flex: 1;
  }
  &__list {
    @include d-flex();
    flex-wrap: wrap;
  }
  &__link {
    @include normal-text($font-base-size, $color-light-grey, 0 0 3*$padding-base);
    display: block;
    max-width: 125px;
    text-decoration: none;
    &--active,
    &:hover {
      color: $color-text;
    }
  }
  &__number {
    font-family: "Yeseva One";
    border-bottom: 1px solid $color-main;
    padding-bottom: 2px;
  }
  &__title {
    font-size: $font-base-size;
    font-family: "FuturaBookC";
    font-weight: 400;
    padding-top: 1.5*$padding-base;
  }
  &__item {
    width: 33%;
    list-style-type: none;
  }
  &__img {
    flex: 2;
    min-height: 370px;
    background-color: red;
  }
}

.team {
  background: -webkit-linear-gradient($color-bg-dark 50%, $color-bg-light 50%, $color-bg-light 100%);
  background:    -moz-linear-gradient($color-bg-dark 50%, $color-bg-light 50%, $color-bg-light 100%);
  background: linear-gradient($color-bg-dark 50%, $color-bg-light 50%, $color-bg-light 100%);
  &__header .heading__subtitle {
    color: $color-text;
  }
  &__wrapper {
    width: 90%;
    margin: 0 auto;
    @include d-flex(space-around, normal);
    padding-bottom: 15*$padding-base;
  }
  .projectCard {
    margin: 0 45px;
    &__title,
    &__subtitle {
      text-align: center;
    }
    &__img {
      height: 370px;
    }
    &__desc {
      max-width: 70%
    }
    &__btn {
      width: 100%;
    }
  }
}

.divide__desc {
  @include d-flex(center, center);
  flex-direction: column;
  max-width: 680px;
  margin: 0 auto;
  @include normal-text(1.375*$font-base-size, $color-text-dark, 3*$padding-base 0 9*$padding-base);
  font-family: FuturaBookC;
  line-height: 1.75;
  text-align: center;
}